.screen-header__icons {
  position: relative;
}
.screen-header__more-gear-dot {
  position: absolute;
  left: 120px;
  bottom: 22px;
}
.user-component__circle {
  position: relative;
  margin-left: 6px;
  font-size: 15px;
  color: red;
  font-weight: 600;
}

.user-component__circle i {
  position: absolute;
  right: -5.5px;
  bottom: 2.5px;
}

.more-screen .icons-row {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
}
.more-screen .icons-row__icon {
  display: flex;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

.more-screen .icons-row__icon:nth-child(2) {
  position: relative;
}

.more-screen .badge-sm {
  position: absolute;
  top: -20px;
  right: 30px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-screen .logout {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
