.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px 20px 25px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transition: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 2s linear infinite;
}
